
* {
box-sizing: border-box;
  cursor: url(cursor.png),auto;
}

.bodycontent {
	column-width: 100%;

}

body {margin: 0 auto;
	font-family: helvetica, arial, sans-serif;
  background-color: #3a3b3c;
}

h1{
text-align: center;
font-weight: bold;
color: white;
font-size: 175%;
animation: glow 1s ease-in-out infinite alternate;
padding: 140px;
height: 300px;
background-color: slategrey;
background-image: url(https://64.media.tumblr.com/c05dabb8875f1893e68012aadca45ffd/tumblr_pvg4kgJc0I1sgm6puo1_1280.gifv);
background-position-y: bottom;
}

.chicken {
background-color: violet;
padding: 3px;
}

.beef {
background-color: steelblue;
padding: 3px;
}

.sushi {
background-color: seagreen;
padding: 3px;
}

div.titles {
height: auto;
width: 35%;
font-size: 1.25em;
font-weight: bold;
color: white;
border: black 1px solid;
text-align: center;
position: relative;
float: right;
}

div.infotext {
border: black 1px solid;
height: auto;
background-color: lightyellow;
clear: left;
margin-left: auto;
margin-right: auto;
padding: 20px 10px 10px 10px;
}

.cc {
/*  background: = url(https://a-z-animals.com/media/2019/11/Chicken-2-hens.jpg), 50%;*/
background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("chicken.png");
  background-size: 11%;
  background-repeat: repeat;
}

.bb {
background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("beef.png");
  background-size: 13%;
  background-repeat: repeat;
}

.ss {
background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("sushi.png");
  background-size: 12%;
  background-repeat: repeat;
}

/** large screens **/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    padding: 20px;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/** medium screens **/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    padding: 20px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/** small screens **/
@media (max-width: 767px)   {
	.col-sm-12 {
    float: left;
    padding: 20px;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
